---
import MainButton from "../components/buttons/MainButton.astro";
import { Image } from "astro:assets";
import SocialArrow from "../assets/icons/social_media_arrow.svg";
import circleImage from "../assets/images/desktop/banner_circle_desktop.png";
---

<section id="banner">
  <div class="wrapper">
    <div class="banner-text">
      <h1>CONSULTORÍA POLÍTICA <span>DATOS, ESTRATEGIA, ACCIÓN</span></h1>
      <span class="line"></span>
      <p>
        Acompañamos a instituciones, organizaciones y personas, en la
        comprensión de sus entornos que les permitan alcanzar sus metas.
      </p>
      <MainButton link="#" target="blank">Saber más</MainButton>
    </div>

    <div class="social-media">
      <Image
        class="social-media-arrow"
        src={SocialArrow}
        alt="social media arrow icon"
      />
      <p>REDES SOCIALES</p>
      <div class="social-media-icons">
        <a href="#" target="blank">
          <svg
            width="57"
            height="57"
            viewBox="0 0 57 57"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.2135 28.6483C15.2135 22.4551 15.2135 19.3571 17.1373 17.4333C19.0611 15.5095 22.1577 15.5095 28.3523 15.5095C34.5456 15.5095 37.6436 15.5095 39.5674 17.4333C41.4912 19.3571 41.4912 22.4537 41.4912 28.6483C41.4912 34.8415 41.4912 37.9395 39.5674 39.8634C37.6436 41.7872 34.5469 41.7872 28.3523 41.7872C22.1591 41.7872 19.0611 41.7872 17.1373 39.8634C15.2135 37.9395 15.2135 34.8429 15.2135 28.6483Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M35.97 21.0416H35.9562M34.5759 28.6483C34.5759 30.2989 33.9202 31.8819 32.7531 33.0491C31.5859 34.2162 30.0029 34.8719 28.3523 34.8719C26.7016 34.8719 25.1186 34.2162 23.9515 33.0491C22.7843 31.8819 22.1286 30.2989 22.1286 28.6483C22.1286 26.9976 22.7843 25.4146 23.9515 24.2475C25.1186 23.0803 26.7016 22.4246 28.3523 22.4246C30.0029 22.4246 31.5859 23.0803 32.7531 24.2475C33.9202 25.4146 34.5759 26.9976 34.5759 28.6483Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M56.7045 28.6483C56.7045 21.3932 53.9233 14.4142 48.9333 9.14771C43.9433 3.88123 37.1242 0.728052 29.8797 0.337195C22.6352 -0.0536624 15.5164 2.34755 9.98879 7.04657C4.46113 11.7456 0.945157 18.3849 0.164578 25.5978C-0.616001 32.8108 1.39821 40.0485 5.79262 45.8213C10.187 51.5941 16.6272 55.4626 23.7877 56.6307C30.9481 57.7987 38.2838 56.1773 44.285 52.1003C50.2861 48.0233 54.496 41.8008 56.0481 34.7138L55.0906 34.504C53.5921 41.3461 49.5278 47.3534 43.7341 51.2895C37.9405 55.2256 30.8583 56.7909 23.9455 55.6632C17.0326 54.5356 10.8151 50.8008 6.57259 45.2276C2.33011 39.6544 0.385538 32.6669 1.13913 25.7033C1.89272 18.7397 5.28713 12.33 10.6237 7.79342C15.9602 3.25686 22.8328 0.938669 29.8269 1.31601C36.8209 1.69336 43.4042 4.73752 48.2217 9.82192C53.0392 14.9063 55.7243 21.644 55.7243 28.6483H56.7045Z"
              fill="white"></path>
          </svg>
        </a>
        <a href="#" target="blank">
          <svg
            width="57"
            height="57"
            viewBox="0 0 57 57"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.3615 39.7127C17.8025 41.1247 20.6364 41.7872 23.6597 41.7872C32.6218 41.7872 39.927 34.6826 40.2451 25.7965L43.0222 20.3501L38.3835 21.0417C37.3728 20.1503 36.0715 19.6585 34.724 19.6586C31.1668 19.6586 28.5003 23.1397 29.3578 26.5462C24.4452 26.8643 19.9932 23.8368 17.418 19.8038C15.7086 25.6085 17.2936 32.5983 21.5851 36.9065C21.5851 38.5329 17.436 39.5038 15.3615 39.7127Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M56.8525 28.6483C56.8525 21.3932 54.0712 14.4142 49.0812 9.14771C44.0912 3.88123 37.2722 0.728052 30.0276 0.337195C22.7831 -0.0536624 15.6644 2.34755 10.1367 7.04657C4.60908 11.7456 1.09311 18.3849 0.312527 25.5978C-0.468052 32.8108 1.54616 40.0485 5.94057 45.8213C10.335 51.5941 16.7752 55.4626 23.9356 56.6307C31.096 57.7987 38.4318 56.1773 44.4329 52.1003C50.4341 48.0233 54.644 41.8008 56.196 34.7138L55.2385 34.504C53.7401 41.3461 49.6757 47.3534 43.8821 51.2895C38.0884 55.2256 31.0063 56.7909 24.0934 55.6632C17.1806 54.5356 10.963 50.8008 6.72054 45.2276C2.47806 39.6544 0.533487 32.6669 1.28708 25.7033C2.04067 18.7397 5.43508 12.33 10.7716 7.79342C16.1082 3.25686 22.9808 0.938669 29.9748 1.31601C36.9689 1.69336 43.5522 4.73752 48.3697 9.82192C53.1871 14.9063 55.8722 21.644 55.8722 28.6483H56.8525Z"
              fill="white"></path>
          </svg>
        </a>
        <a href="#" target="blank">
          <svg
            width="57"
            height="57"
            viewBox="0 0 57 57"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M36.2541 14.1264H32.1049C30.2709 14.1264 28.512 14.855 27.2152 16.1518C25.9183 17.4487 25.1898 19.2076 25.1898 21.0416V25.1907H21.0406V30.7228H25.1898V41.7871H30.7219V30.7228H34.871L36.2541 25.1907H30.7219V21.0416C30.7219 20.6748 30.8676 20.323 31.127 20.0636C31.3864 19.8043 31.7381 19.6586 32.1049 19.6586H36.2541V14.1264Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M56.9994 28.6483C56.9994 21.3932 54.2182 14.4142 49.2282 9.14771C44.2382 3.88123 37.4191 0.728052 30.1746 0.337195C22.9301 -0.0536624 15.8114 2.34755 10.2837 7.04657C4.75605 11.7456 1.24008 18.3849 0.4595 25.5978C-0.321079 32.8108 1.69313 40.0485 6.08754 45.8213C10.4819 51.5941 16.9222 55.4626 24.0826 56.6307C31.243 57.7987 38.5787 56.1773 44.5799 52.1003C50.581 48.0233 54.7909 41.8008 56.343 34.7138L55.3855 34.504C53.887 41.3461 49.8227 47.3534 44.029 51.2895C38.2354 55.2256 31.1533 56.7909 24.2404 55.6632C17.3275 54.5356 11.11 50.8008 6.86751 45.2276C2.62503 39.6544 0.68046 32.6669 1.43405 25.7033C2.18764 18.7397 5.58205 12.33 10.9186 7.79342C16.2551 3.25686 23.1278 0.938669 30.1218 1.31601C37.1159 1.69336 43.6992 4.73752 48.5166 9.82192C53.3341 14.9063 56.0192 21.644 56.0192 28.6483H56.9994Z"
              fill="white"></path>
          </svg>
        </a>
      </div>
    </div>

    <div class="banner-circle">
      <div class="circle-wrapper">
        <Image src={circleImage} alt="circle image" />
        <p>Consultá, comprendé <span>proyectá</span></p>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    height: 900px;
    padding: 0 1rem;
    background-image: url("../assets/images/mobile/home_banner_mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 14rem;
  }
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
  }
  .banner-text {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 12rem;
  }
  .banner-text h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 700;
  }
  .banner-text h1 span {
    color: var(--blue);
  }
  .banner-text .line {
    background-color: var(--blue);
    width: 175px;
    height: 4px;
    border-radius: 2px;
  }
  .banner-text p {
    max-width: 400px;
    line-height: 1.8rem;
    color: var(--gray);
  }
  .social-media {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  .social-media-arrow {
    display: none;
  }
  .social-media p {
    font-size: 1.125rem;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    color: var(--white);
  }
  .social-media-icons {
    display: flex;
    gap: 1rem;
  }
  .social-media-icons a svg {
    transition: all 0.45s ease-in-out;
  }
  .social-media-icons a:hover svg,
  .social-media-icons a:hover svg path {
    stroke: var(--blue);
  }
  .banner-circle {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
  }
  .circle-wrapper {
    position: relative;
  }
  .banner-circle img {
    width: calc(100% - 2rem);
    width: 100%;
    max-width: 398px;
    height: auto;
    border-radius: 100%;
    border: 16px solid var(--black);
  }
  .banner-circle p {
    transform: translateY(-60%);
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 3rem;
    max-width: 230px;
    margin: 0 auto;
  }
  .banner-circle p span {
    font-weight: 700;
  }
  @media screen and (min-width: 570px) {
    section {
      height: 960px;
      padding: 0 2rem;
      margin-bottom: 26rem;
    }
    .banner-text h1 {
      font-size: 2.8rem;
      line-height: 1.6;
    }
    .banner-text p {
      font-size: 1.125rem;
      max-width: 500px;
      line-height: 2;
    }
    .social-media {
      transform: translateY(60%);
    }
    .banner-circle {
      transform: translateY(70%);
    }
  }
  @media screen and (min-width: 768px) {
    section {
      height: 1100px;
      padding: 0 4rem;
      background-image: url("../assets/images/tablet/home_banner_tablet.png");
      margin-bottom: 30rem;
    }
    .banner-text h1 {
      font-size: 3rem;
      max-width: 800px;
    }
    .banner-text p {
      max-width: 600px;
      font-size: 1.4rem;
    }
    .banner-circle img {
      max-width: 500px;
    }
    .banner-circle p {
      font-size: 3rem;
      line-height: 4rem;
      max-width: 500px;
    }
  }
  @media screen and (min-width: 1024px) {
    .banner-circle img {
      max-width: 550px;
    }
    .social-media {
      transform: translateY(0);
    }
  }
  @media screen and (min-width: 1280px) {
    section {
      background-image: url("../assets/images/desktop/home_banner_desktop.png");
      margin-bottom: 40rem;
    }
  }

  @media screen and (min-width: 1440px) {
    section {
      padding-top: 5rem;
      height: 800px;
      margin-bottom: 30rem;
    }
    .wrapper {
      padding-top: 6rem;
      flex-direction: row;
      align-items: flex-start;
      max-width: 1280px;
      margin: 0 auto;
    }
    .banner-text {
      gap: 2rem;
      padding-top: 0;
      align-items: flex-start;
      text-align: left;
    }
    .banner-text h1 {
      font-size: 3rem;
      max-width: 700px;
    }
    .banner-text p {
      font-size: 24px;
    }
    .social-media {
      transform: translateY(60px);
    }
    .social-media-arrow {
      display: block;
      margin-bottom: 2rem;
    }
    .banner-circle {
      right: 0;
      transform: translateY(45%);
    }
    .banner-circle img {
      max-width: 690px;
    }
  }
  @media screen and (min-width: 1680px) {
    section {
      height: 860px;
    }
    .wrapper {
      max-width: 1440px;
    }
    .banner-circle img {
      max-width: 820px;
    }
  }
</style>
