---

    import BasicSlider from "../components/slider/BasicSlider.astro";
    import zuninoImage from "../assets/images/zunino_example.png";
    import Infobae from "../assets/icons/infobae.svg";

    const estudios = [
    {
      title: "Medición sobre calidad de vida en pueblos y ciudades de Argentina",
      image: zuninoImage,
      description:
        "Descubre las principales preocupaciones y los retos a los que se enfrentan distintas empresas españolas en el ámbito del marketing digital.",
        url: "#",
        logo:Infobae,
    },
    {
      title: "Medición sobre calidad de vida en pueblos y ciudades de Argentina",
      image: zuninoImage,
      description:
        "Descubre las principales preocupaciones y los retos a los que se enfrentan distintas empresas españolas en el ámbito del marketing digital.",
        url: "#",
        logo:Infobae,
    },
    {
      title: "Medición sobre calidad de vida en pueblos y ciudades de Argentina",
      image: zuninoImage,
      description:
        "Descubre las principales preocupaciones y los retos a los que se enfrentan distintas empresas españolas en el ámbito del marketing digital.",
        url: "#",
        logo:Infobae,
    },
    {
      title: "Medición sobre calidad de vida en pueblos y ciudades de Argentina",
      image: zuninoImage,
      description:
        "Descubre las principales preocupaciones y los retos a los que se enfrentan distintas empresas españolas en el ámbito del marketing digital.",
        url: "#",
        logo:Infobae,
    },
    {
      title: "Medición sobre calidad de vida en pueblos y ciudades de Argentina",
      image: zuninoImage,
      description:
        "Descubre las principales preocupaciones y los retos a los que se enfrentan distintas empresas españolas en el ámbito del marketing digital.",
        url: "#",
        logo:Infobae,
    },
    {
      title: "Medición sobre calidad de vida en pueblos y ciudades de Argentina",
      image: zuninoImage,
      description:
        "Descubre las principales preocupaciones y los retos a los que se enfrentan distintas empresas españolas en el ámbito del marketing digital.",
        url: "#",
        logo:Infobae,
    },
    {
      title: "Medición sobre calidad de vida en pueblos y ciudades de Argentina",
      image: zuninoImage,
      description:
        "Descubre las principales preocupaciones y los retos a los que se enfrentan distintas empresas españolas en el ámbito del marketing digital.",
        url: "#",
        logo:Infobae,
    },
    {
      title: "Medición sobre calidad de vida en pueblos y ciudades de Argentina",
      image: zuninoImage,
      description:
        "Descubre las principales preocupaciones y los retos a los que se enfrentan distintas empresas españolas en el ámbito del marketing digital.",
        url: "#",
        logo:Infobae,
    },
    {
      title: "Medición sobre calidad de vida en pueblos y ciudades de Argentina",
      image: zuninoImage,
      description:
        "Descubre las principales preocupaciones y los retos a los que se enfrentan distintas empresas españolas en el ámbito del marketing digital.",
        url: "#",
        logo:Infobae,
    },
  
 
];
---


<section>   

    <!-- title and text -->
    <div class="title_and_text">
        <h2>
            NUESTRO COMPROMISO
            <br>
            Y EXPERIENCIA
        </h2>

        <!-- carousel -->
         <BasicSlider list={estudios}></BasicSlider>
    </div>
</section>


<style>

    .title_and_text {
        margin: 7rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    .title_and_text h2{
        color: #FFF;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 10.08px;
        display: flex;
        text-align: center;
        margin-bottom: 5.2rem;
        text-transform: uppercase;
    }



    @media screen and (max-width: 860px) {

        .title_and_text h2 {
            font-size: 32px;
            margin-bottom: 3rem;
        }
    }
</style>